\.DS_Store

queryTranslation\.txt
*.out
*.log
*.log.*
evaluation/graphql.*
evaluation/queries/**/results/*
evaluation/run/*
evaluation/.ipynb_checkpoints/*
\.idea/
=======
.idea/
.gradle/
build/
bin/
*.iml

_site/
docs/_site/

src/test/resources/TestServices/output/*.ttl
out/
*.class
.vscode/
